main {
  margin-left: 3%;
  margin-right: 3%;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}

h1 {
  width: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 116px;
  color: #000000;
  text-align: center;
  margin-top: 5%;
}

main {
    margin-left: 3%;
    margin-right: 3%;
}